<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :post_type %><br />
    <%= f.radio_button :post_type, 'page', checked: @post.is_page? %>
    <%= f.label :post_type, 'Page' %>
    <%= f.radio_button :post_type, 'post', checked: ! @post.is_page? %>
    <%= f.label :post_type, 'Post' %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.radio_button :status, 'publish', checked: @post.published? %>
    <%= f.label :status, 'Published' %>
    <%= f.radio_button :status, 'draft', checked: ! @post.published? %>
    <%= f.label :status, 'Unpublished' %>
  </div>
  <div class="field">
    <%= f.label :comment_status %><br />
    <%= f.radio_button :comment_status, 'open', checked: @post.can_comment? %>
    <%= f.label :comment_status, 'Open' %>
    <%= f.radio_button :comment_status, 'closed', checked: ! @post.can_comment? %>
    <%= f.label :comment_status, 'Closed' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
